# Build output
dist/
.astro/

# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.production
.env.neon
.env.cloudflare
.env.local
.env.dev

# API
api/.env.dev
api/.env.production
api/.wrangler/

# App
app/dist/
app/.astro/

# Wrangler
.wrangler/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
